@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the C# Mortgage Calculator</h1>
    <hr class="p-2"/>
    <h4>This site was built with C#, .NET, HTML, and CSS</h4>
</div>
